<div style="clear:both;"></div>
<section>
<h1>Recommended Sites</h1>
<ul>
  <li class="post">
    <a target='_blank' href='https://developer.mozilla.org/en/learn/javascript' title='Learn JavaScript JS'>Learn Javascript - MDN</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://meetup.com/costaricajs' title='Javascript Costa Rica'>Javascript Meetup Group in Costa Rica</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://read.humanjavascript.com/' title='Human Javascript'>Human Javascript</a>
  </li>
  
  <li class="post">
    <a target='_blank' href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/' title='Learning JavaScript Design Patterns'>Learning JavaScript Design Patterns</a>
  </li>
  
</ul>
<section style="text-align: center;" >
  
</section>
