<div style="clear:both;"></div>

<section>
<h1>Recommended Sites</h1>
<ul>
  <li class="post">
    <a target='_blank' href='http://12factor.net/' title='The Twelve-Factor App'>The Twelve-Factor App: a methodology for building software-as-a-service apps.</a>
  </li>
  <li class="post">
    <a target='_blank' href='https://github.com/MostlyAdequate/mostly-adequate-guide' title='Functional Programming in JavaScript'>Mostly adequate guide to functional programming in JavaScript</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://javascriptweekly.com' title='JavaScript Weekly: A Free, Weekly Email Newsletter'>JavaScript Weekly: A Free, Weekly Email Newsletter.</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://goodui.org' title='Tips for building good user interfaces'>GoodUI.org: Tips for building good user interfaces</a>
  </li>
  <li class="post">
    <a target='_blank' href='https://www.youtube.com/channel/UCO1cgjhGzsSYb1rsB4bFe4Q' title='Become A Better Programmer'>FunFunFunction: Become a Better Programmer</a>
  </li>
  <li class="post">
    <a target='_blank' href='https://github.com/ericelliott/essential-javascript-links' title='Essential JavaScript Links'>Essential JavaScript Links</a>
  </li>
  <li class="post">
    <a target='_blank' href=' http://standardjs.com' title='JavaScript Standard Style'>JavaScript Standard Style</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://costaricajs.co' title='Javascript Costa Rica'>JavaScript Meetup Group in Costa Rica</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://devopscr.co' title="devOps Costa Rica">DevOps Costa Rica</a>
  </li>
  <li class="post">
    <a target='_blank' href='https://github.com/gaboesquivel/jscodequality' title="A JavaScript Code Quality Guide">A JavaScript Code Quality Guide</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://sijinjoseph.com/programmer-competency-matrix/' title="A Programmer Competency Matrix">Programmer Competency Matrix</a>
  </li>
  <li class="post">
    <a target='_blank' href='https://github.com/hemanth/functional-programming-jargon' title="Jargon from the functional programming world in simple terms!">Functional Programming Jargon</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://tldr-pages.github.io/' title="Simplified and community-driven man pages">Simplified and Community-Driven Man Pages</a>
  </li>
</ul>
</section>

<section style="text-align:center;">
<a href="https://github.com/gaboesquivel">
  <img style="box-shadow:none;" src="/images/daftpunktocat-thomas.gif" />
</a>

<a target='_blank' href='http://github.com/gaboesquivel/ama' title='Ask me Anything'>Ask me Anything!</a>
</li>

</section>


<!-- <section>
<h1>Recommended Podcasts</h1>
<ul>
  <li class="post">
    <a target='_blank' href='http://devchat.tv/js-jabber/' title='Javascript Jabber'>JavaScript Jabber</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://nodeup.com/' title='NodeUp: a NodeJS podcast'>NodeUp - NodeJS Development</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://thechangelog.com/' title='The Changelog'>The Changelog - Open Source</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://www.se-radio.net/' title='Software Engineering Radio'>Software Engineering Radio</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://reactpodcast.com/' title='React Podcast'>React Podcast</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://shoptalkshow.com/' title='Shop Talk Show'>Shop Talk Show - Web Development</a>
  </li>
</ul>

<!-- <li class="post">
  <a target='_blank' href='https://github.com/getify/You-Dont-Know-JS' title="You don't know JS">You Don't Know JS</a>
</li>
<li class="post">
  <a target='_blank' href='http://exploringjs.com/es6/' title="Exploring ES6">Exploring ES6 - ECMAScript 2015</a>
</li> -->
<!-- <li class="post">
  <a target='_blank' href='http://www.meetup.com/Data-Visualization-Costa-Rica' title="Data Visualization Costa Rica">Data Visualization Meetup in Costa Rica</a>
</li>

</section> -->
