<div style="clear:both;"></div>
<section>
<h1>Recommended Sites</h1>
<ul>
  <li class="post">
    <a target='_blank' href='https://developer.mozilla.org/en/learn/javascript' title='Learn JavaScript JS'>Learn Javascript - MDN</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://meetup.com/costaricajs' title='Javascript Costa Rica'>Javascript Meetup Group in Costa Rica</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://read.humanjavascript.com/' title='Human Javascript'>Human Javascript</a>
  </li>
  
  <li class="post">
    <a target='_blank' href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/' title='Learning Javascript Design Patterns'>Learning Javascript Design Patterns</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://microjs.com/' title='Javascript Collection of micro-frameworks and micro-libraries'>MicroJS: Collection of micro-frameworks and micro-libraries.</a>
  </li>
  <li class="post">
    <a target='_blank' href='https://github.com/rwaldron/idiomatic.js' title='Principles of Writing Consistent, Idiomatic JavaScript'>Idiomatic JavaScript</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://12factor.net/' title='The Twelve-Factor App'>The Twelve-Factor App: a methodology for building software-as-a-service apps.</a>
  </li>
  <li class="post">
    <a target='_blank' href='https://medium.com/@jboner/the-reactive-manifesto-31014a369168' title='The Reactive Manifesto'>The Reactive Manifesto</a>
  </li>

  
  
</ul>

<h1>Recommended Podcasts</h1>
<ul>
  <li class="post">
    <a target='_blank' href='http://devchat.tv/js-jabber/' title='Javascript Jabber'>Javascript Jabber</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://nodeup.com/' title='NodeUp: a NodeJS podcast'>NodeUp</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://thechangelog.com/' title='The Changelog'>The Changelog</a>
  </li>
  <li class="post">
    <a target='_blank' href='http://devchat.tv/adventures-in-angular' title='Adventures in Angular'>Adventures in Angular</a>
  </li>
    
</ul>
  
</section>
