<div id="footer">
	<div class="footer_widgets_cont">
		<div class="footer_box "><h3>Interests</h3>
			<div class="textwidget"> saas, data visualization, languages and cultures, design, civil rights, social action, activism, environment, health, traveling, photography, art, behavioral economics, architecture, yoga, consciousness, neuroscience, quantum physics, psychology, surfing, music, something new</div>
		</div>
		<div class="footer_box"><h3>Costa Rica JS</h3>
			<div class="textwidget">I'm the organizer of the JavaScript meetup group in Costa Rica, an open group for developers to get together and stay up to date with the technologies, techniques and frameworks related to javascript. (Node.js, Single Page Apps, Mobile Development and more). </div>
		</div>
		<div class="footer_box footer_box_last">
			<h3>Cortical Touch</h3>
			<div class="textwidget">I'm the founder of Cotrical Touch, a javascript consulting firm. At CT we develop custom software using lightweight agile methodologies and modern web technologies. Cortical Touch specialists provide knowledgeable guidance and leadership on a wide range of technical areas. <a   alt="Javascript Consulting" href="http://corticaltouch.com">corticaltouch.com</a> </div>
		</div>
		<div class="clear"></div>
	</div>
	<p id="copyright">
	Copyright &copy; {{ site.time | date: "%Y" }} <a href="/blog/2014/developing-software-in-costa-rica/">Costa Rica</a> - Gabo Esquivel: Software Developer - <a   alt="Javascript Consulting" href="http://corticaltouch.com">JavaScript Consulting</a>
	</p>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!-- jQuery Form Plugin -->
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<!-- jQuery Form Validation Plugin -->
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
	<script src="{{ root_url }}/javascripts/google_form.js"></script>
	<script>
		(function($){
			if($ === undefined) return;
			$(function(){
				$("a[href^='http']").attr('target','_blank');
			});
		})(jQuery);
	</script>
