<hgroup>
  <!-- <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %} -->

            <ul class="social_icons">

                <li><a class="github-icon ir" target="_blank" href="https://github.com/gaboesquivel">Javascript Developer</a></li>
                <li><a class="gplus-icon ir" target="_blank" href="https://plus.google.com/104110266841345705571">Web Developer</a></li>
                <li><a class="linkedin-icon ir" target="_blank" href="http://www.linkedin.com/in/gaboesquivel">Software Developer</a></li>
                <li><a class="twitter-icon ir" target="_blank" href="https://twitter.com/gaboesquivel">twitter @gaboesquivel</a></li>
                <li><a class="facebook-icon ir" target="_blank" href="https://www.facebook.com/pages/Gabo-Esquivel/242142659209943">Gabo Esquivel</a></li>
                <li><a class="email-icon ir" href="/contact/">Email Contact</a></li>
            </ul>

             <a id="logo_link" href="/">
            <img src="/images/logo-gaboesquivel.png" />
          </a>

          <a id="slogan" href="/">
            javascript, ruby, data viz, lean and other stuff
        </a>


</hgroup>
