<hgroup>

            <ul class="social_icons">

                <li><a class="github-icon ir" target="_blank" href="https://github.com/gaboesquivel">Javascript Developer</a></li>
                <li><a class="gplus-icon ir" target="_blank" href="https://plus.google.com/104110266841345705571">Javascript Engineer</a></li>
                <li><a class="linkedin-icon ir" target="_blank" href="http://www.linkedin.com/in/gaboesquivel">Application Developer</a></li>
                <li><a class="twitter-icon ir" target="_blank" href="https://twitter.com/gaboesquivel">FullStack Developer @gaboesquivel</a></li>
                <li><a class="facebook-icon ir" target="_blank" href="https://www.facebook.com/pages/Gabo-Esquivel/242142659209943">Software Developer</a></li>
                <li><a class="email-icon ir" href="/contact">Email Contact</a></li>
            </ul>

             <a id="logo_link" href="/" title="Gabo Esquivel - Software Developer">
            <img src="/images/logo-gaboesquivel.png" alt="Gabo Esquivel - Javascript Developer" />
          </a>

          <a id="slogan" href="/">
            Application Developer and Technical Consultant. 
        </a>


</hgroup>
