<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <!-- <li><a href="{{ root_url }}/social-stream">Social Stream</a></li> -->
  <li><a href="{{ root_url }}/about">About Me</a></li>
  <li><a href="{{ root_url }}/contact">Contact</a></li>
  <!-- <li><a href="http://corticaltouch.com" alt="JavaScript Consulting" target="_blank">Consulting</a></li> -->
  <li><a target="_blank" href="https://github.com/gaboesquivel">GitHub</a></li>
</ul>
