<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="website" />
{% if page.title %}
	<meta property="og:title" content="{{ page.title }}">
	{% if page.description  %}<meta property="og:description" content="{{ page.description }}">{% endif %}
	{% if page.cover %}<meta property="og:image" content="{{ site.url }}{{ page.cover }}">{% endif %}
{% else %}
	<meta property="og:title" content="{{ site.title }}">
	{% if site.description  %}<meta property="og:description" content="{{ site.description }}">{% endif %}
	{% if site.cover %}<meta property="og:image" content="{{ site.url }}{{ site.cover }}">{% endif %}
{% endif %}
