body > footer {
  background-color: $footer-bg;
  border-top: 1px solid #DDD;
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 3em;
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; text-align:right; border-top: 1px solid #DDD; padding-top: 10px}
}
