/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./app/cv/cv.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
@media print {
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  p, li, .exp-description {
    --tw-text-opacity: 1 !important;
    color: rgb(55 65 81 / var(--tw-text-opacity)) !important;

  }
  .exp-duration {
    --tw-text-opacity: 1 !important;
    color: rgb(209 213 219 / var(--tw-text-opacity)) !important;

  }
  .navbar {
    display: none;
  } 
  .cv-content {
    display: block !important;
    /* color: #333333 !important; */
    font-family: monospace;
    font-size: 12px;
    line-height: 1.5;
  }

}
