<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/ProfessionalService">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Params.description }}{{ if eq $isHomePage false }} - {{ .Description }}{{ end }}" property="og:description">
    <meta name="author" content="gaboesquivel.com">

    <title>{{ .Site.Title  }}</title>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Gabo Esquivel - Software Engineer">
    <meta itemprop="description" content="I help companies develop software products and make technical decisions.">
    <meta itemprop="image" content="https://gaboesquivel.com/img/intro-bg.jpg">

    <!-- Twitter -->
    <meta name="twitter:title" content="Gabo Esquivel - Software Engineer">
    <meta name="twitter:description" content="I help companies develop software products and make technical decisions.">
    <meta name="twitter:image" content="https://gaboesquivel.com/img/intro-bg.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@gaboesquivel">

    <!-- Open Graph data -->
    <meta property="og:title" content="Gabo Esquivel - Software Engineer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gaboesquivel.com" />
    <meta property="og:image" content="https://gaboesquivel.com/img/intro-bg.jpg" />
    <meta property="og:description" content="I help companies develop software products and make technical decisions." />
    <meta property="og:site_name" content="gaboesquivel.com" />


    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic" rel="stylesheet" type="text/css">

    <link href="/css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="home">

  <!--===== Preloader ====-->
  <!-- <div class="preloader">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
  </div> -->


  <!--===== HEADER AREA =====-->
  <header class="navbar custom-navbar navbar-fixed-top">
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="logo">
                     <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                      </div>
                        <a id="logo-gaboesquivel" class="theme-color" href="/"></a>
                  </div>
              </div>

              <div class="col-md-9 col-sm-8 col-xs-12">
                 <nav class="main-menu">
                  <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav"> <!--== manin menu ==-->
                          <li><a class="smoth-scroll theme-color home" id="about-link" href="#about">About</a></li>
                          <li><a class="smoth-scroll theme-color home" href="#services">service</a></li>
                          <li><a class="smoth-scroll theme-color home" href="#projects">projects</a></li>
                          <li><a class="smoth-scroll theme-color" href="/bio/">bio</a></li>
                          <li><a class="smoth-scroll theme-color" href="/blog/">blog</a></li>
                          <li><a class="smoth-scroll theme-color" href="/contact/">contact</a></li>
                          <li><a id="tweets-link" class="smoth-scroll theme-color" href="/tweets/">tweets</a></li>
                      </ul>
                  </div>
                  </nav>
              </div>
          </div><!--/.row-->
      </div><!--/.container-->
  </header>
  <!--===== END HEADER AREA ======-->
