<!--==== TESTIMONIAL AREA =====-->
<div id="testimonial" class="testimonial-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2>what people say.</h2>
        </div>
      </div>
    </div>
    <!--/.row-->

<div class="row">

  <div class="col-md-12">

        <div class="testimonial-list owl-carousel owl-theme">

          <div class="single-testimonial">
            <div class="t-author">
              <div class="t-image">
                <img src="/img/endorsements/torrey-moss.jpg" alt="">
              </div>
              <div class="t-name">
                <h4>Torrey Moss</h4> Product Development Consultant
              </div>
            </div>
            <div class="t-content block-post">
              <p>Gabo is great! Honestly I can say that he has a rare breed of technical expertise and leadership.</p>
            </div>
          </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/aeron-glemann.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Aeron Glemann</h4> UI Engineer at Facebook
            </div>
          </div>
          <div class="t-content block-post">
            <p>He's the rare sort who is a natural born leader who also knows his code! I'd look forward to collaborating with Gabo anytime.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/jose-rosario.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Jose Rosario</h4> Operations Director
            </div>
          </div>
          <div class="t-content block-post">
            <p>He is one of the few that can very accurately estimate duration. Gabo is courteous, intelligent and resourceful.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/max-ellinger.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Max Ellinger</h4> UX/UI Developer
            </div>
          </div>
          <div class="t-content block-post">
            <p>Gabo never ceased to impress us with his spotlessly clean code and helpful documentation.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/marek-pawlowski.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>MAREK PAWLOWSKI</h4> CEO at Web Desire
            </div>
          </div>
          <div class="t-content block-post">
            <p>Gabo is a really talented and forward-thinking developer. He excels at working on awesome interfaces and also the back-end.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/gregor-milne.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Gregor Milne</h4> Technical Project Manager
            </div>
          </div>
          <div class="t-content block-post">
            <p>Gabo has the rare ability to solve problems that have left other developers scratching their heads.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/ivan-alarcon.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Iván Alarcón</h4> UI/UX & Product Development
            </div>
          </div>
          <div class="t-content block-post">
            <p>Gabo is a top developer and a natural leader. Working with him is a great experience, he has an excellent attitude for solving problems.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/francisco-martinez.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Francisco Martinez</h4> Director of Technology
            </div>
          </div>
          <div class="t-content block-post">
            <p>He’s a great team player and he always keeps a positive attitude even in the most difficult and stressful of situations.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/pablo-viquez.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Pablo Viquez</h4> Software Architect
            </div>
          </div>
          <div class="t-content block-post">
            <p>I was very pleased working with him, he took the lead in many areas and became the lead developer in a very short period of time.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/carlos-barrantes.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Carlos Barrantes</h4> Senior JavaScript Developer
            </div>
          </div>
          <div class="t-content block-post">
            <p>He is a smart and dedicated person who has passion on what he does. Gabo is an important and valuable asset to any team.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/noah-rosembaum.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Noah Rosembaum</h4> VPE at Prodigious Worldwide
            </div>
          </div>
          <div class="t-content block-post">
            <p>Gabo is an amazing developer. He’s up to speed on all of the latest tech and matches his technical skills with "can do" personality.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/haiyan-sui.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Haiyan Sui</h4> Principal Engineer at Digitas
            </div>
          </div>
          <div class="t-content block-post">
            <p>He always thinks about how to do things better, and has a lot of great ideas. It’s very fun working with him. I highly recommend Gabo.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/rashid-sial.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Rashid Sial</h4> Technology Manager
            </div>
          </div>
          <div class="t-content block-post">
            <p>He is hard working, diligent and takes the time and effort to truly understand systems and the best method for implementation.</p>
          </div>
        </div>

        <div class="single-testimonial">
          <div class="t-author">
            <div class="t-image">
              <img class="reco" data-src="/img/endorsements/jose-tenorio.jpg" alt="">
            </div>
            <div class="t-name">
              <h4>Jose Tenorio</h4> Art Director
            </div>
          </div>
          <div class="t-content block-post">
            <p>Gabo is a proactive and efficient person, ready to do his work on time and with excellence. Excellent professional and great companion.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- / row -->
</div>
<!--/.container-->
</div>
<!--====END TESTIMONIAL AREA =====-->
