{{ partial "header-home.html" .}}

<!--======= WELCOME AREA =======-->
<div id="home" class="welcome-area" data-stellar-background-ratio="0.6" style="background-image: url(/img/intro-bg.jpg);">
  <div class="welcome-table">
    <div class="welcome-cell">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="welcome-text">
              <div class="element"></div>
            </div>
            <div class="home-arrow">
              <a href="#about" class="smoth-scroll theme-color"><i class="fa fa-angle-double-down"></i></a>
            </div>
          </div>
        </div>
        <!--/.row-->
      </div>
      <!--/.container-->
    </div>
  </div>
</div>
<!--===== END WELCOME AREA =====-->


<!--===== ABOUT AREA =====-->
<div id="about" class="about-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="author-image wow fadeInLeft" data-wow-delay="0.2s">
          <img src="/img/gaboesquivel-about.jpg" alt="Gabo Esquivel">
          <!--=== author image ===-->
        </div>
      </div>
      <div class="col-md-7">
        <div class="about-text wow fadeInRight" data-wow-delay="0.2s">
          <h2>I'm <span class="theme-color">Gabo Esquivel</span></h2>

          <p>I'm a software engineer with more than ten years of experience coding and leading teams.</p>

          <p>I help companies develop software products and make technical decisions, working with stakeholders and developers in the design and implementation of software applications, taking ideas from conception to production and successful execution.</p>

          <p>I'm a proponent of open source technology stacks, devops culture, and lightweight agile methodologies and mob programming.</p>
          <p>I'm focused on the intersection of new technologies, financial services and great user experience.</p>

          <p>In 2019 I started <a href="https://blockmatic.io" target="_blank">Blockmatic</a>, a company specializing in blockchain technology, smart contracts, and digital assets.</p><p>I'm a founding member of the  <a href="https://asoblockchain.org/" target="_blank">Costarrican Blockchain Association</a> and <a href="https://blockchaincr.com" target="_blank">BlockchainCR</a>, a community hub for studying and promoting blockchain technologies and decentralized applications.</p>
        
          <a class="smoth-scroll btn theme-color" href="/contact">get in touch</a>
          <a class="smoth-scroll btn extra" href="#projects">see work</a>
          <a class="smoth-scroll btn extra" href="/bio">full bio</a>

        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</div>
<!--===== END ABOUT AREA =====-->


<!--===== SERVICES AREA =====-->
<div id="services" class="services-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-title">
          <h2>what i do.</h2>
        </div>
      </div>
    </div>
    <!--/.row-->

    <div class="row">

    <div class="col-md-4 col-sm-6">
      <div class="single-service theme-color text-center wow fadeInUp" data-wow-delay="0.2s">
        <div class="service-img" style="background-image: url(/img/service/software-architecture.svg) "></div>
        <h3>Software Architecture</h3>
        <p>Design of robust and cost effective architectures leveraging modern tech without unnecessary complexity.</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="single-service theme-color text-center wow fadeInUp" data-wow-delay="0.4s">
        <div class="service-img" style="background-image: url(/img/service/coding.svg) "></div>
        <h3>Hands-on Coding</h3>
        <p>I'm a programmer and I enjoy writing clean code that solves real life problems. Infra as Code, JavaScript, Rust, Go, Python, C++.</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="single-service theme-color text-center wow fadeInUp" data-wow-delay="0.6s">
        <div class="service-img" style="background-image: url(/img/service/server.svg) "></div>
        <h3>Secure DevOps and SRE</h3>
        <p>Transparency, collaboration, automation and infra-as-code as means to achieve secure and reliable infrastructure.</p>
      </div>
    </div>

      <div class="col-md-4 col-sm-6">
        <div class="single-service theme-color text-center wow fadeInUp" data-wow-delay="0.8s">
          <div class="service-img" style="background-image: url(/img/service/leadership.svg) "></div>
          <h3>Engineering Leadership</h3>
          <p>I lead software engineering teams and act as on-demand consultant and tech lead for startups and established companies.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="single-service theme-color text-center wow fadeInUp" data-wow-delay="1.0s">
          <div class="service-img" style="background-image: url(/img/service/product-development.svg) "></div>
          <h3>Product Development</h3>
          <p>Consultation on software product ideation, validation, definition, roadmap creation and product life-cycle management.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="single-service theme-color text-center wow fadeInUp" data-wow-delay="1.2s">
          <div class="service-img" style="background-image: url(/img/service/project-management.svg) "></div>
          <h3>Agile Project Management</h3>
          <p>Manage day-to-day engineering tasks following agile development principles and best practices.</p>
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</div>
<!--====== END SERVICES AREA ======-->


<!--====== WORK AREA ======-->
<div id="projects" class="work-area section-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-title">
          <h2>projects.</h2>
          <p class="blog-post" style="font-size:16px;">Here are some of my current and past projects</p>
        </div>
      </div>
    </div>
    <!--/.row-->

    <div class="row">
      <ul class="work-list text-center">
        <li class="filter theme-color" data-filter="all">all</li>
        <li class="filter theme-color" data-filter=".development">development</li>
        <li class="filter theme-color" data-filter=".community">Tech Events</li>
        <li class="filter theme-color" data-filter=".oss">OSS</li>
      </ul>
    </div>
    <!--/.row-->

    <div class="work-inner mixitup-container">
      <div class="row no-gutter">



        <div class="col-md-4 col-sm-6 mix oss development" >
          <div class="single-work">
            <img class="work" data-src="/img/work/bitcash.png" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Bitcash</h3>
                    <p>Bitcash is a digital token that has roughly the same value as US dollars. Once you exchange your US dollars for bitcash, you can exchange bitcash for Bitcoin and other cryptocurrencies.</p>
                    <a class="work-popup theme-color" href="/img/work/bitcash.png"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://bitcash.org"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- <div class="col-md-4 col-sm-6 mix oss development">
          <div class="single-work">
            <img class="work" data-src="/img/work/telosdreamstack.png" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Telos DreamStack</h3>
                    <p>A fullstack development framework for real-time blockchain apps.</p>
                    <a class="work-popup theme-color" href="/img/work/telosdreamstack.png"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://github.com/telosdreamstack"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      <div class="col-md-4 col-sm-6 mix development" >
          <div class="single-work">
            <img class="work" data-src="/img/work/sensechat.png" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Sense Chat</h3>
                    <p>A new messenger built to communicate, organize, and reward your communities and friends.</p>
                    <a class="work-popup theme-color" href="/img/work/sensechat.png"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="https://www.sense.chat"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-4 col-sm-6 mix oss" >
          <div class="single-work">
            <img class="work" data-src="/img/work/emanate.png" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Emanate</h3>
                    <p>A community that instantly rewards artists and music lovers for their creative expression and dedication to music.</p>
                    <a class="work-popup theme-color" href="/img/work/emanate.png"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://emanate.live"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix oss development" >
          <div class="single-work">
            <img class="work" data-src="/img/work/blockmatic.png" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Blockmatic</h3>
                    <p>Blockmatic is building a robust ecosystem of people and tools for the development of blockchain applications.</p>
                    <a class="work-popup theme-color" href="/img/work/blockmatic.png"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://blockmatic.io"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix oss development" >
          <div class="single-work">
            <img class="work" data-src="/img/work/boltsource.png" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Boltsource</h3>
                    <p>At Boltsource were we help your engineering organization work smarter and sleep better.</p>
                    <a class="work-popup theme-color" href="/img/work/boltsource.png"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://boltsource.io"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix oss">
          <div class="single-work">
            <img class="work" data-src="/img/work/eoscostarica.png" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>EOS Costa Rica</h3>
                    <p>Open source contributor to EOS Costa Rica, Block Producer Candidate.</p>
                    <a class="work-popup theme-color" href="/img/work/eos.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://github.com/eoscostarica"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 col-sm-6 mix development oss">
          <div class="single-work">
            <img class="work" data-src="/img/work/knowledgeio.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Knowledge.io</h3>
                    <p>Head of engineering. Helped the company through their ICO: ERC20 token, wallet, cloud services and apps development.</p>
                    <a class="work-popup theme-color" href="/img/work/yeahtv.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://knowledge.io"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/holawink.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Wink: Neobank mobile app</h3>
                    <p>Interim CTO/Chief Architect at challenging bank startup.</p>
                    <a class="work-popup theme-color" href="/img/work/holawink.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://holawink.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/photoandgo.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Photo&Go</h3>
                    <p>Technical lead responsible for the development of a new photo editor and web experience.</p>
                    <a class="work-popup theme-color" href="/img/work/photoandgo.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://photoandgo.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/yeahtv.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Yeah TV</h3>
                    <p>Technical lead for a movie streaming service where you can watch movies dissected in chapters with detailed information and interactive games.</p>
                    <a class="work-popup theme-color" href="/img/work/yeahtv.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://yeahtv.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/americanexpress.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>American Express</h3>
                    <p>I worked as a UI Engineer at americanexpress.com</p>
                    <a class="work-popup theme-color" href="/img/work/americanexpress.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://americanexpress.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/jockeyhollow.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Jockey Hollow</h3>
                    <p>Development of menu apps for kiosks and responsive web.</p>
                    <a class="work-popup theme-color" href="/img/work/jockeyhollow.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://jockeyhollowbarandkitchen.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/elderscrollsonline.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Elder Scrolls Online</h3>
                    <p>Web development of the Elders Scrolls online community site.</p>
                    <a class="work-popup theme-color" href="/img/work/elderscrollsonline.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://elderscrollsonline.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/tikr.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Tikr</h3>
                    <p>Web development of an interactive online store with fluctuating prices.</p>
                    <a class="work-popup theme-color" href="/img/work/tikr.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://tikr.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/4tius.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>4Tius</h3>
                    <p>Web development of a personal health dashboard and integration with Misfit API.</p>
                    <a class="work-popup theme-color" href="/img/work/4tius.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://4tius.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/gridium.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Gridium</h3>
                    <p>Development of a prototype for a energy data analytics dashboard.</p>
                    <a class="work-popup theme-color" href="/img/work/gridium.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://gridium.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/eatarcade.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Eat Arcade</h3>
                    <p>Lead developer of an sms subscription system to hand-curated dishes from the best restaurants in New York City.</p>
                    <a class="work-popup theme-color" href="/img/work/eatarcade.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://eatarcade.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/nummux.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Nummux</h3>
                    <p>Development of contract work marketplace.</p>
                    <a class="work-popup theme-color" href="/img/work/nummux.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://nummux.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/moneynighttalk.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Money Night Talk</h3>
                    <p>Web Development of a campaign page for AMEX.</p>
                    <a class="work-popup theme-color" href="/img/work/moneynighttalk.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://moneynighttalk.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/solidsalutes.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Solid Salutes (SunTrust)</h3>
                    <p>Web Development of a campaign page for SunTrust.</p>
                    <a class="work-popup theme-color" href="/img/work/solidsalutes.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://resourcecenter.suntrust.com/solid-salutes/index.jspx"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix development">
          <div class="single-work">
            <img class="work" data-src="/img/work/capoeiraabolicao.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Capoeira Abolição</h3>
                    <p>Design and implementation of a promotional website with a responsive approach.</p>
                    <a class="work-popup theme-color" href="/img/work/capoeiraabolicao.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://capoeiraabolicao.com"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix oss">
          <div class="single-work">
            <img class="work" data-src="/img/work/github.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Github.com/GaboEsquivel</h3>
                    <p>My personal github account.</p>

                    <a class="work-link theme-color" href="https://github.com/gaboesquivel/dotfiles"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix community">
          <div class="single-work">
            <img class="work" data-src="/img/work/puravidajs.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Pura Vida JS</h3>
                    <p>First International JavaScript Conference in Costa Rica.</p>
                    <a class="work-popup theme-color" href="/img/work/puravidajs.jpg"><i class="fa fa-search-plus"></i></a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix community">
          <div class="single-work">
            <img class="work" data-src="/img/work/costaricajs.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>Costa Rica JS</h3>
                    <p>JavaScript meetup group in Costa Rica.</p>
                    <a class="work-popup theme-color" href="/img/work/costaricajs.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://meetup.com/costaricajs"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix community">
          <div class="single-work">
            <img class="work" data-src="/img/work/blockchain-costa-rica.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>BlockchainCR</h3>
                    <p>Community hub for knowledge sharing, promoting and study blockchain technologies in Costa Rica.</p>
                    <a class="work-popup theme-color" href="/img/work/blockchain-costa-rica.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://meetup.com/blockchaincr"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 mix community">
          <div class="single-work">
            <img class="work" data-src="/img/work/devopscr.jpg" alt="">
            <div class="item-hover">
              <div class="work-table">
                <div class="work-tablecell">
                  <div class="hover-content">
                    <h3>DevOps Costa Rica</h3>
                    <p>DevOps meetup group in Costa Rica.</p>
                    <a class="work-popup theme-color" href="/img/work/devopscr.jpg"><i class="fa fa-search-plus"></i></a>
                    <a class="work-link theme-color" href="http://meetup.com/devopscr"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

</div>
      <!--/.row-->
    </div>
  </div>
  <!--/.container-->
</div>
<!--====== END WORK AREA ======-->


<!--====== QUOTES AREA ======-->
<div id="contact" class="quotes-area section-padding" style="background-image: url(/img/quotes-bg.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="quotes-content text-center">
          <h3>Get in Touch!</h3>
          <p class="blog-post">I help companies develop software products and make technical decisions.<p/>
          <a class="smoth-scroll btn quotes-btn theme-color" href="/contact">contact me</a>
  </div>
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</div>
<!--====== END QUOTES AREA ======-->

{{ partial "testimonial.html" .}}

{{ partial "footer.html" .}}
