// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


body {
color: #555;
font-family: Helvetica, arial, freesans, clean, sans-serif;
font-size: 14px;
line-height: 2;
}

article header p.meta {
position: static !important;
}
 

#logo_link {
height: 58px;
display: block;
width: 284px;
overflow: hidden;
float: left;
margin-top:-10px;
}


#slogan {
	color: #555;
float: left;
font-size: 13px;
clear: left;
margin-left: 36px;
font-family: "Noto Sans",Helvetica,Arial,sans-serif;
text-decoration: none;
}

#slogan:hover{
	color: #555;
}


.social_icons {
    list-style-type: none;
    float: right;
	padding-top:2px;
}
 
.social_icons li {
    float: left;
    margin-left: 10px
}

.social_icons li a {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(/images/media-icons.png);
    width: 20px;
    height: 20px; 
	text-indent: -9999px;
}
 
.email-icon {
    background-position: -0px -66px
}

.facebook-icon {
    background-position: -0px -88px
}

.github-icon {
    background-position: -0px -44px
}

.gplus-icon {
    background-position: -0px -0px
}

.linkedin-icon {
    background-position: -0px -22px
}

.twitter-icon {
    background-position: -0px -110px
}


#footer {
    margin-top: 25px;
    font-size: 12px
}

.footer_widgets_cont {
    padding: 0 8px 0 28px
}

.footer_box {
    float: left;
    width: 32%;
    min-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px
} 

.footer_box_last {
    margin-right: 0
}

.footer_box h3 {
    font-size: 16px;
    font-family: "Noto Sans",Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin-bottom: 0 !important;
}

.footer_box a {
    text-decoration: none
}

.footer_box a:hover {
}

.footer_box ul,.footer_box ol {
    list-style-type: none;
    margin-left: 3px
}

.footer_box ul li,.footer_box ol li {
    margin-bottom: 3px
}

#copyright{
border-top: 1px dotted #c1c1c1;
text-align: right;
line-height: 40px;
}


.clear {
clear: both;
}

#gabo-avatar{
	margin-left: 15px;
	margin-bottom: 15px;
	float: right;
}

.reco blockquote{
	border-left: none;
	font-weight: normal;
	font-size: 14px;
	padding-left: 0px;
}

.reco blockquote::before {
    content: '\201C ';
    color: #DDD;
    float: left;
    font-size: 57px;
    height: 1px;
    margin-top: 11px;
    margin-right: 10px;
	margin-left: -5px;
    line-height: 20px;

}

section#recommendations .reco {
    position: relative;
    padding-bottom: 50px;
    clear: both;
    min-height: 100px
}

section#recommendations .reco img {
    float: left;
    width: 100px
}

section#recommendations .reco .reco-detail {
    margin-left: 140px
}

section#recommendations span.person a {
    color: #848484;
    font-weight: 700;
    text-decoration: none;
    margin-left: 15px
}


#portfolio{

    .project{
        float:left;
		width: 31%;
		min-width: 300px;
		margin: 0 25px 0 0;
        border: 1px solid #ddd;
        height: 420px;
		overflow: hidden;
        margin-right: 20px;
margin-bottom: 20px;
        img{
            width: 100%;
            height: 180px;
        } 
		h2, h3{
			padding:0;
			margin: 0; 
		}
		h2{
			font-size: 16px;
		}
		h3, p{
			font-size: 12px;
		}
		.project-details{
			padding: 0 20px;
			p{
				line-height: 1.5;
				padding:0;
				margin:0;
			}
		}
		ul{
			padding-top: 10px;
			margin-left: 15px;
			li{
				font-size: 12px;
				line-height: 1.5;
			}
		}
    }


}

ul, ol{
	margin-left: 30px;
}


.google-form-wrapper {
  .error {
    color: red;
    font-size: 12px;
	display: block;
  }
  .errorbox-good {
    margin-bottom: 20px;
  }
  .success-msg {
    display: none;
  }
  .ss-form-entry {
    label {
      display:inline;
    }
    input {
      display: block;
      padding: 5px;
      width: 250px;
      font: inherit;
    }
    textarea {
      width: 450px;
      padding: 5px;
      font: inherit;
    }
  }
  .ss-navigate input {
    width: auto;
    cursor: pointer;
  }
  .required-message{
	  display: none;
  }
  .error-message{
	  display: none;
  }
  .ss-required-asterisk{
	  display: inline;
  }
  .ss-password-warning{
	  display: none;
  }
}

.center-align{
  margin: 0 auto;
}

.center-align-wrapper{
    text-align: center;
    margin: 20px 0;
}



.embed-video-container {
width: 90%;
margin: 40px auto;
}
